
<html>
<head>

    <title>
        <%= title %>
    </title>
    
    <link rel="stylesheet" href="/css/user_profile.css">
    
</head>
<body>


  
    <h1>
        Codial/ Profile page
    </h1>

    

    
</body>
</html>