<div>
    <p>Hi! <%= comment.user.name %></p>
    <br>
    <br>
    <br>
    <br>

    <p> Yout comment <strong><%= comment.content %> </strong> just got published on codial</p>
    <br>
    <br>
    <br>

    <p>Thanks!</p>
</div>